<div class="p-3" style="text-align: end;" ><a routerLink="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
  </svg>Home</a></div>
<div style="border-radius: 30px; background: rgba( rgb(10, 190, 10));" class="container w-50 p-5 mt-5 bg-warning">
    <h2 class="text-center text-secondary p-3">Transaction History</h2>
    <table class="border bg-light w-100 text-center">
        <thead>
            <tr class="border border-secondary">
                <th class="border border-secondary">Type</th>
                <th class="border border-secondary">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transaction">
                <td class="border border-secondary">{{i.type}}</td>
                <td class="border border-secondary">{{i.amount}}</td>
            </tr>
        
           
        </tbody>
    </table>

    
</div>